.comment-content {
    display: flex;
    margin-top: 168px;
    margin-bottom: 244px;
}

.comment-our {
    margin-left: 125px;
}

.our-title {
    margin: 0px;
    padding: 0px;
    width: 357px;
    height: 48px;
    color: rgba(51, 61, 75, 1);
    font-size: 40px;
    line-height: 48px;
    font-family: 'Fraunces', Times, serif;
    font-weight: 900;
}

.our-discrip {
    margin: 0px;
    margin-top: 32px;
    padding: 0px;
    width: 540px;
    height: 260px;
    color: rgba(51, 61, 75, 1);
    font-size: 16px;
    line-height: 26px;
    font-family: 'Barlow', Helvetica, sans-serif;
    font-weight: 400;
}