.footer-site {
    padding: 48px 86px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(44, 52, 62, 1);
}

.footer-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
.footer__item {
    margin-right: 33px;
}

.footer-link-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

.footer-link-item {
    margin-right: 24px;
}

.footer-item {
    font-family: 'Barlow', Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(131, 136, 143, 1);
}